.container {
    
    /*background-color: red;*/
    display:grid;
    grid-template-rows: 100px 600px 140px;
    grid-gap:0px;
    
}

header {
    /*border-style: dotted;*/
    /*background-color: black;*/
}

.header1 {
    display:flex;
}

.body1 {
    display:flex;
    background-size: 100% 100%;
    background-image: url("../images/poolpic2.png");
    

}

.footer1 {
    border-style: dotted;
}

.logoBed {
    flex: 4;
    /*border-style: dotted;*/
}
.bar {
    flex : 20;
    /*border-style: dotted;*/
    background-color: black;
    
}

.loginbutton {
    flex : 2;
    background-color: black;
    /*border-style: dotted;*/
}

.signupbutton {
    flex : 2;
    /*border-style: dotted;*/
    background-color:black;
}

body div header div img {
    width : 100%;
    height: 100%;
    
}

/*
body div section img {
    width : 100%;
    height: 100%;
}

*/

.loginText {
    color: gray;
}